<ejs-tab id="element">
    <e-tabitems>
        <e-tabitem>
            <ng-template #headerText>
                <div>Users</div>
            </ng-template>
            <ng-template #content>
                <app-grid-view></app-grid-view>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                <div>Tree</div>
            </ng-template>
            <ng-template #content>
                <app-customer-tree-view></app-customer-tree-view>
            </ng-template>
        </e-tabitem>
    </e-tabitems>
</ejs-tab>